body { 
  font-family: Arial, sans-serif; 
  background: #f4f6f8; 
  margin: 0; 
  padding: 0; 
}

header { 
  background: #007bff; 
  color: white; 
  padding: 15px; 
  text-align: center; 
}

main { 
  padding: 20px; 
}

table { 
  width: 100%; 
  border-collapse: collapse; 
  margin-top: 20px; 
}

th, td { 
  border: 1px solid #ddd; 
  padding: 10px; 
  text-align: left; 
}

th { 
  background-color: #007bff; 
  color: white; 
}

tr:nth-child(even) { 
  background-color: #f2f2f2; 
}

.filter { 
  margin-top: 10px; 
  padding: 5px; 
}
#logoutBtn {
    background: #3551dc;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#logoutBtn:hover {
    background: hsl(184, 86%, 51%);
}