body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: hsl(195, 66%, 71%);
}

header {
  background-color: #2c3e50;
  color: white;
  padding: -1px 6px;
  text-align: center;
}
h1{
    text-align: center;
}

#hallContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 70px;
  padding: 2rem;
}

.hall-card {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.hall-card img {
  width: 100%;
  border-radius: 10px;
  height: 120px;
  object-fit: cover;
}

.hall-card h2 {
  margin: 0.5rem 0 0.2rem;
}

.hall-card button {
  background-color: #27ae60;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
  cursor: pointer;
}
