body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #005bea, #00c6fb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 20px;
  background: #005bea;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0041a8;
}

p {
  text-align: center;
  margin-top: 15px;
}
.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 90%;
  padding-right: 40px; /* space for eye icon */
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}