.card {
  display: block;
  text-decoration: none;
  color: inherit;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  width: 500px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.card h1 {
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap; /* will wrap on small screens */
  margin-top: 30px;
}
body h1{
    align-items: center;
    text-align: center;

}
button {
  background: linear-gradient(135deg, #2196f3, #0b7dda); /* gradient color */
  color: white;
  border: none;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  
}

button:hover {
  background: linear-gradient(135deg, #0b7dda, #2196f3);
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0,0,0,0.3);
}

button:active {
  transform: scale(0.95);
}
