* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(120deg, #4a148c, #e0c3fc);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
}

h1 {
  font-size: 3rem;
  color: hsl(0, 2%, 11%);
  margin-bottom: 40px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 80px;
  width: 100%;
  max-width: 1100px;
  animation: fadeIn 1.5s ease-in-out;
}

.card {
  backdrop-filter: blur(10px);
  background: rgba(12, 143, 152, 0.228);
  border-radius: 20px;
  padding: 30px 20px;
  box-shadow: 0 8px 32px hwb(0 2% 15% / 0.2);
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #322020;
  position: relative;
  overflow: hidden;
  animation: floatUp 1s ease forwards;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3);
}

.card i {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #1e1a1a;
}

.card p {
  font-size: 1.1rem;
  font-weight: 600;
}

@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body a{
  text-decoration: none;
   
}
.back-link {
  position: fixed;
  top: 20px;
  left: 100px;
  color:#141010;
  font-size: large;
}

#logoutBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: hsl(195, 78%, 57%); /* red */
  color: #171212;
  border: none;
  padding: 10px 18px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logoutBtn:hover {
  background-color: hsl(195, 78%, 57%); /* darker red on hover */
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

#logoutBtn:active {
  background-color: #a93226;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transform: translateY(1px);
}
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

/* Dark overlay */
.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55); /* darkens the video */
  z-index: -1;
}